<a href="https://colab.research.google.com/github/pinkdolphin11/ESAA/blob/main/4_11_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**12. 시계열 데이터**

12-1. datetime 오브젝트

datetime 라이브러리 : 날짜와 시간을 처리하는 등의 기능을 제공
* date 오브젝트 : 날짜를 처리
* time 오브젝트 : 시간을 처리
* datetime 오브젝트 : 날짜와 시간을 모두 처리

[datetime 오브젝트 사용하기]

1. datetime 오브젝트를 사용하기 위해 datetime 라이브러리를 불러온다.

In [1]:
from datetime import datetime

2. now, today 메서드를 사용하여 현재 시간 출력

In [2]:
now1=datetime.now()
print(now1)

2022-04-10 09:49:02.097694

In [3]:
now2=datetime.today()
print(now2)

2022-04-10 09:49:19.703476

3. datetime 오브젝트를 생성할 때 시간을 직접 입력하여 인자로 전달

In [4]:
t1=datetime.now() #밀리초 단위까지 구함
t2=datetime(1970,1,1)
t3=datetime(1970,12,12,13,24,34)
print(t1)
print(t2)
print(t3)
#입력한 시간을 바탕으로 datetime 오브젝트 생성

2022-04-10 09:50:41.279730
1970-01-01 00:00:00
1970-12-12 13:24:34

4. datetime 오브젝트로 시간 계산하기

In [5]:
diff1=t1-t2
print(diff1)
print(type(diff1))

19092 days, 9:50:41.279730
<class 'datetime.timedelta'>

In [6]:
diff2=t2-t1
print(diff2)
print(type(diff2))

-19093 days, 14:09:18.720270
<class 'datetime.timedelta'>

12-2. 사례별 시계열 데이터 계산하기

[테슬라 주식 데이터로 시간 계산하기]

1. get_data_quanal 메서드에 TSLA라는 문자열을 전달하여 테슬라의 주식 데이터를 내려받고 to_csv 메서드를 사용하여 'tesla_stock_quandl.csv' 파일로 저장하기

In [9]:
import pandas as pd
pd.core.common.is_list_like=pd.api.types.is_list_like
import pandas_datareader as pdr

In [10]:
#tesla에 dataframe 저장
tesla=pdr.get_data_quandl('TSLA',api_key='fkR5BBYCreKAJ2dATZGm')

In [12]:
#저장된 dataframe을 파일로 저장
tesla.to_csv('../tesla_stock_quandl.csv')

2. tesla 데이터프레임의 Date 문자열을 datetime 오브젝트로 자료형 변환

In [13]:
print(tesla.head())

              Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0

In [14]:
#read_csv 메서드로 데이터 집합을 불러올 때 parse_dates 인자에 Date 열을 전달하여 형변환
tesla=pd.read_csv('../tesla_stock_quandl.csv',parse_dates=[0])
print(tesla.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        241 non-null    datetime64[ns]
 1   Open        241 non-null    float64
 2   High        241 non-null    float64
 3   Low         241 non-null    float64
 4   Close       241 non-null    float64
 5   Volume      241 non-null    float64
 6   ExDividend  241 non-null    float64
 7   SplitRatio  241 non-null    float64
 8   AdjOpen     241 non-null    float64
 9   AdjHigh     241 non-null    float64
 10  AdjLow      241 non-null    float64
 11  AdjClose    241 non-null    float64
 12  AdjVolume   241 non-null    float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 24.6 KB
None

3. 불린 인덱싱으로 2017년 4월 데이터만 추출

In [18]:
print(tesla.loc[(tesla.Date.dt.year==2017)&(tesla.Date.dt.month==4)])

                 Date    Open      High       Low     Close     Volume  \
Date
2017-04-28 2017-04-28  309.83  314.8000  308.0000  314.0025  4447619.0
2017-04-27 2017-04-27  311.69  313.0900  307.5000  308.6050  3430245.0
2017-04-26 2017-04-26  312.37  314.5000  309.0000  310.1700  4184186.0
2017-04-25 2017-04-25  308.00  313.9800  305.8600  313.7900  6666406.0
2017-04-24 2017-04-24  309.22  310.5500  306.0215  308.0300  5077561.0
2017-04-21 2017-04-21  302.00  306.4000  300.4200  305.6000  4509756.0
2017-04-20 2017-04-20  306.51  309.1500  300.2300  302.5100  6149352.0
2017-04-19 2017-04-19  302.46  306.6200  302.1100  305.5200  3898024.0
2017-04-18 2017-04-18  299.70  300.8399  297.9000  300.2500  3035698.0
2017-04-17 2017-04-17  302.70  304.0000  298.6800  301.4400  4138736.0
2017-04-13 2017-04-13  296.70  307.3900  295.3000  304.0000  9284634.0
2017-04-12 2017-04-12  306.34  308.4481  296.3200  296.8400  6050682.0
2017-04-11 2017-04-11  313.38  313.4700  305.5000  308.7100  5724577.0

            ExDividend  SplitRatio  AdjOpen   AdjHigh    AdjLow  AdjClose  \
Date
2017-04-28         0.0         1.0   309.83  314.8000  308.0000  314.0025
2017-04-27         0.0         1.0   311.69  313.0900  307.5000  308.6050
2017-04-26         0.0         1.0   312.37  314.5000  309.0000  310.1700
2017-04-25         0.0         1.0   308.00  313.9800  305.8600  313.7900
2017-04-24         0.0         1.0   309.22  310.5500  306.0215  308.0300
2017-04-21         0.0         1.0   302.00  306.4000  300.4200  305.6000
2017-04-20         0.0         1.0   306.51  309.1500  300.2300  302.5100
2017-04-19         0.0         1.0   302.46  306.6200  302.1100  305.5200
2017-04-18         0.0         1.0   299.70  300.8399  297.9000  300.2500
2017-04-17         0.0         1.0   302.70  304.0000  298.6800  301.4400
2017-04-13         0.0         1.0   296.70  307.3900  295.3000  304.0000
2017-04-12         0.0         1.0   306.34  308.4481  296.3200  296.8400
2017-04-11         0.0         1.0   313.38  313.4700  305.5000  308.7100

            AdjVolume
Date
2017-04-28  4447619.0
2017-04-27  3430245.0
2017-04-26  4184186.0
2017-04-25  6666406.0
2017-04-24  5077561.0
2017-04-21  4509756.0
2017-04-20  6149352.0
2017-04-19  3898024.0
2017-04-18  3035698.0
2017-04-17  4138736.0
2017-04-13  9284634.0
2017-04-12  6050682.0
2017-04-11  5724577.0

[datetime 오브젝트를 인덱스로 설정해 데이터 추출하기]

1. Date 열을 tesla 데이터프레임의 인덱스로 지정

In [16]:
tesla.index=tesla['Date']
print(tesla.index)

DatetimeIndex(['2018-03-27', '2018-03-26', '2018-03-23', '2018-03-22',
               '2018-03-21', '2018-03-20', '2018-03-19', '2018-03-16',
               '2018-03-15', '2018-03-14',
               ...
               '2017-04-25', '2017-04-24', '2017-04-21', '2017-04-20',
               '2017-04-19', '2017-04-18', '2017-04-17', '2017-04-13',
               '2017-04-12', '2017-04-11'],
              dtype='datetime64[ns]', name='Date', length=241, freq=None)

2. datetime 오브젝트를 인덱스로 지정하여 원하는 시간의 데이터를 추출

In [19]:
print(tesla['2018'].iloc[:5,:5])

                 Date    Open    High     Low   Close
Date
2018-03-27 2018-03-27  304.00  304.27  277.18  279.18
2018-03-26 2018-03-26  307.34  307.59  291.36  304.18
2018-03-23 2018-03-23  311.25  311.61  300.45  301.54
2018-03-22 2018-03-22  313.89  318.82  308.18  309.10
2018-03-21 2018-03-21  310.25  322.44  310.19  316.53

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

In [22]:
print(tesla['2018-03'].iloc[:,:5])

                 Date    Open    High       Low   Close
Date
2018-03-27 2018-03-27  304.00  304.27  277.1800  279.18
2018-03-26 2018-03-26  307.34  307.59  291.3600  304.18
2018-03-23 2018-03-23  311.25  311.61  300.4500  301.54
2018-03-22 2018-03-22  313.89  318.82  308.1800  309.10
2018-03-21 2018-03-21  310.25  322.44  310.1900  316.53
2018-03-20 2018-03-20  314.87  316.25  308.7600  310.55
2018-03-19 2018-03-19  316.50  320.75  309.6700  313.56
2018-03-16 2018-03-16  325.96  327.40  319.0700  321.35
2018-03-15 2018-03-15  329.38  332.85  321.1000  325.60
2018-03-14 2018-03-14  336.76  339.81  323.9300  326.63
2018-03-13 2018-03-13  344.92  345.12  336.2635  341.84
2018-03-12 2018-03-12  328.61  347.21  326.5000  345.51
2018-03-09 2018-03-09  324.10  328.49  322.3700  327.17
2018-03-08 2018-03-08  332.86  333.30  326.2740  329.10
2018-03-07 2018-03-07  325.44  332.50  321.7400  332.30
2018-03-06 2018-03-06  333.75  336.37  327.0300  328.20
2018-03-05 2018-03-05  332.39  337.75  329.2929  333.35
2018-03-02 2018-03-02  326.98  335.22  322.9700  335.12
2018-03-01 2018-03-01  345.01  348.67  330.0700  330.93

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

[시간 간격을 인덱스로 지정해 데이터 추출하기]

1. Date 열에서 Date 열의 최솟값을 뺀 다음 ref_date 열로 추가 - 데이터를 수집한 이후에 시간이 얼마나 흘렀는지 알 수 있다.

In [23]:
tesla['ref_date']=tesla['Date']-tesla['Date'].min()
print(tesla.head())

                 Date    Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27 2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26 2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23 2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22 2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21 2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume  \
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0

           ref_date
Date
2018-03-27 350 days
2018-03-26 349 days
2018-03-23 346 days
2018-03-22 345 days
2018-03-21 344 days

2. ref_date 열을 인덱스로 지정

In [24]:
tesla.index=tesla['ref_date']
print(tesla.iloc[:5,:5])

               Date    Open    High     Low   Close
ref_date
350 days 2018-03-27  304.00  304.27  277.18  279.18
349 days 2018-03-26  307.34  307.59  291.36  304.18
346 days 2018-03-23  311.25  311.61  300.45  301.54
345 days 2018-03-22  313.89  318.82  308.18  309.10
344 days 2018-03-21  310.25  322.44  310.19  316.53

3. 데이터 수집 이후 최초 5일의 데이터 추출

In [26]:
print(tesla['5 days':].iloc[:5,:5])

               Date    Open      High     Low   Close
ref_date
2 days   2017-04-13  296.70  307.3900  295.30  304.00
1 days   2017-04-12  306.34  308.4481  296.32  296.84
0 days   2017-04-11  313.38  313.4700  305.50  308.71

[시간 범위 생성해 인덱스로 지정하기]

1. 에볼라 데이터 집합 살펴보기 - 2015년 1월 1일 데이터 누락, 2014년 3월 23일 데이터 누락

In [38]:
from google.colab import auth
auth.authenticate_user()

from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [39]:
ebola=pd.read_csv("/content/gdrive/MyDrive/country_timeseries.csv")
print(ebola.iloc[:5,:5])

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286           NaN         8157.0                NaN
4  12/31/2014  284        2730.0         8115.0             9633.0

In [40]:
print(ebola.iloc[-5:,:5])

          Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
117  3/27/2014    5         103.0            8.0                6.0
118  3/26/2014    4          86.0            NaN                NaN
119  3/25/2014    3          86.0            NaN                NaN
120  3/24/2014    2          86.0            NaN                NaN
121  3/22/2014    0          49.0            NaN                NaN

2. data_range 메서드를 사용하여 2014년 12월 31일부터 2015년 1월 5일 사이의 시간 인덱스(DatetimeIndex)를 생성

In [41]:
head_range=pd.date_range(start='2014-12-31',end='2015-01-05')
print(head_range)

DatetimeIndex(['2014-12-31', '2015-01-01', '2015-01-02', '2015-01-03',
               '2015-01-04', '2015-01-05'],
              dtype='datetime64[ns]', freq='D')

3. 원본 데이터 손상 방지를 위해 ebola 데이터프레임의 앞쪽 5개 데이터를 추출하여 새로운 데이터프레임 만들기

In [42]:
ebola_5=ebola.head()
ebola_5.index=ebola_5['Date'] #반드시 Date 열을 인덱스로 먼저 지정
ebola_5.reindex(head_range)
print(ebola_5.iloc[:5,:5])

                  Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
Date
1/5/2015      1/5/2015  289        2776.0            NaN            10030.0
1/4/2015      1/4/2015  288        2775.0            NaN             9780.0
1/3/2015      1/3/2015  287        2769.0         8166.0             9722.0
1/2/2015      1/2/2015  286           NaN         8157.0                NaN
12/31/2014  12/31/2014  284        2730.0         8115.0             9633.0

** 시간 범위의 주기 설정하기

시간 범위를 인덱스로 지정하면 DatetimeIndex 자료형이 만들어진다. DatetimeIndex에는 freq 속성이 포함되어 있다. freq 속성값을 지정하면 시간 간격을 조절하여 DatetimeIndex를 만들 수 있다. freq 속성값으로 사용할 수 있는 시간 주기는 다음과 같다.

* B : 평일만 포함
* C : 사용자가 정의한 평일만 포함
* D : 달력 일자 단위
* W : 주간 단위
* M : 월 마지막 날만 포함
* SM : 15일과 월 마지막 날만 포함
* BM : M 주기의 값이 휴일이면 제외하고 평일만 포함
* CBM : BM에 사용자 정의 평일을 적용
* MS : 월 시작일만 포함
* SMS : 월 시작일과 15일만 포함
* BMS : MS 주기의 값이 휴일이면 제외하고 평일만 포함
* CBMS : BMS에 사용자 정의 평일을 적용
* Q : 3, 6, 9, 12월 분기 마지막 날만 포함
* BQ : 3, 6, 9, 12월 분기 마지막 날이 휴일이면 제외하고 평일만 포함
* QS : 3, 6, 9, 12월 분기 시작일만 포함
* BQS : 3, 6, 9, 12월 분기 시작일이 휴일이면 제외하고 평일만 포함
* A : 년의 마지막 날만 포함
* BA : 년의 마지막 날이 휴일이면 제외하고 평일만 포함
* AS : 년의 시작일만 포함
* BAS : 년의 시작일이 휴일이면 제외하고 평일만 포함
* BH : 평일을 시간 단위로 포함(09:00~16:00)
* H : 시간 단위로 포함(00:00~00:00)
* T : 분 단위 포함
* S : 초 단위 포함
* L : 밀리초 단위 포함
* U : 마이크로초 단위 포함
* N : 나노초 단위 포함

In [43]:
print(pd.date_range('2017-01-01','2017-01-07',freq='B'))

DatetimeIndex(['2017-01-02', '2017-01-03', '2017-01-04', '2017-01-05',
               '2017-01-06'],
              dtype='datetime64[ns]', freq='B')